form {
    width: 300px;
    margin: 20px auto;
}
legend {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    display: block;
    margin: 10px 0px;
    padding: 10px 5px;
    border: none;
    outline: none;
    background-color: rgb(166, 236, 227);
    color: orangered;
    width: 90%;
}
button {
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
}